
.safety-section {
    display: none;
}

@media (min-width: 1025px) {

    /*top-section*/

    .body {
        font-family: "Montserrat";
        font-weight: normal;
        background: #FFFFFF;
        margin: 0 auto;
        max-width: 1440px;
    }
    
    .top-section {
     max-width: 1440px;
     margin: 0;
    }

    .header__menubar {
      max-width: 1337px;
      min-width: 1030px;
      max-height: 51px;
      display: grid;
      align-items: center;
      grid-template-columns: 166px 8fr 489px 7fr 149px 1fr 24px;
      margin-top: 24px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 58px;
      padding-left: 43px;
      padding-right: 42px;
    }

    .header__logo {
    max-width: 166px;
    max-height: 51px;
    }

    .header__menu_models {
    max-width: 489px;
    max-height: 19px;  
    padding: 16px 0 16px;
    display: grid;
    grid-template-columns: 62px 63fr 63px 25fr 61px 44fr 70px 46fr 55px;
    }

    .header__link_models {
    color: #E51937;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    height: 25px;
    border-bottom: 2px solid #E51937;
    border-bottom-left-radius: 5px 2px;
    border-bottom-right-radius: 5px 2px;
    white-space: pre;
    }

    .header__link{
    color: #000000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    white-space: pre;

    }

    .header__menu_main {
    max-width: 149px;
    max-height: 19px;
    display: grid;
    grid-template-columns: 69px 30fr 50px;
    grid-row: 19px;
    }

    .header__link_burger {
    max-width: 24px;
    max-height: 15px;
    }

    .top-section__title {
    color: #000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: -9px;
    max-width: 370px;
    max-height: 110px;
    white-space: pre;
    text-align: center;  
    display: flex;
    justify-content: space-around;
    }

    .top-section__subtitle {
    color: #000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    bottom: 26px;
    margin-top: 0;
    white-space: pre;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
    text-align: center;

    }

    .top-section__img_teslalogo {
    position: absolute;
    max-width: 1440px;
    width: 100%;
    left: auto;
    top: 108px;
    right: auto;
    padding-left: 5px;
    }

    .top-section__img_car {
    max-width: 968px;
    max-height: 450px; 
    display: flex;
    align-items: center;
    padding-right: 60px;
    margin-bottom: 26px; 
    margin-left: auto;
    margin-right: auto;
    }

    .top-section__characteristic {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    padding-left: 14px;
    }
 
    .top-section__img_27 {
    width: 372px;
    height: 65px;
    }

    .top-section__img_27-mini, .top-section__img_27-mob, .top-section__img_632-mob {
        display: none;
    }

    .top-section__buttons {
    width: 320px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .top-section__link_testdrive {
    max-width: 118px;
    max-height: 22px;
    }

    .top-section__img_testdrive-red{
    display: none;
    }

    .top-section__orderbtn {
    width: 160px;
    height: 40px;
    background-color: #FFF;
    border: 2px solid #E51937;
    margin: 7px 0 11px 0;
    }

    .top-section__ordertextbtn {
    color: #E51937;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    }

    .top-section__img_strelka {
    width: 34px;
    height: 20px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 34px;
    padding-left: 18px;
    display: flex;
    justify-content: space-around;
    }

    /*future-section*/

    .future-section { 
    width: 100%;
    max-height: 900px;
    display: grid;
    grid-template-columns: 368px 1fr 440px;

    }

    .future-section__title {
        color: #E51937;
        width: 288px;
        height: 86px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 70px;
        line-height: 85px;
        white-space: pre;
        position: relative;
        margin: 0;
        left: 80px;
        padding-left: 10px;
        top: 64px;
        z-index: 3;
    }

    .future-section__panel-img {
        width: 88%;
        max-width: 1273px;
        position: absolute;
        padding-top: 56px;
        z-index: 1;
        padding-left: 10px;
        
    }

    .redblock {
        width: 440px;
        height: 100%;
        background: #E51937;
        position: relative;
        z-index: 2;
        display: grid;
        grid-template-rows: 305px 1fr 270px 2fr 40px 61px;

    }

    .redblock__title {
        color: #FFF;
        width: 316px;
        white-space: pre;
        font-family: Montserrat;        
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        margin: 51px 72px 11px 52px;
    }

    .redblock__text {
        color: #FFF;
        width: 316px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        padding-left: 54px;
        padding-right: 70px;
        margin-bottom: 52px;
    }

    .redblock__img_display {
        width: 187px;
        height: 65px;
        padding-top: 2px;
        padding-left: 53px; 
        margin-bottom: 32px;
    }

    .redblock__img_wireless {
        width: 269px;
        height: 71px;
        margin-bottom: 20px;
        padding-left: 50px;
    }

    .redblock__img_capacity {
        width: 202px;
        height: 71px;
        padding-left: 53px;
        margin-bottom: 166px;
    }

    .redblock__buttons {
        width: 440px;
        height: 40px;
        display: grid;
        grid-template-columns: 1fr 187px 160px 3fr;
        grid-gap: 19px;
        margin-bottom: 62px;
    }

    .redblock__infobtn {
        width: 187px;
        height: 40px;
        background-color: #E51937;
        border: none;
    }

    .redblock__infobtn-icon {
        color: #FFF;
        width: 22px;
        height: 22px;
        border: solid 2px #FFF;
        border-radius: 50%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        padding-left: 7px;
        padding-right: 6px;
        margin-right: 7px;
    }

    .redblock__infobtn-text {
        color: #FFF;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
    }

    .redblock__order {
        width: 160px;
        height: 40px;
        border: solid 2px #FFF;
        background-color: #E51937;
    }

    .redblock__order-text {
        color: #FFF;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
    }


}

@media (max-width: 1024px) {

    /*top-section*/

    .body {
        font-family: "Montserrat";
        font-weight: normal;
        background: #FFFFFF;
        margin: 0 auto;
        max-width:  1024px;
    }
     
    .top-section {
        max-width: 1024px;
        margin: 0 auto;
    }

   .header__menubar {
      max-width: 980px;
      height: 51px;
      margin-top: 24px;
      margin-right: auto;
      margin-bottom: 80px;
      margin-left: auto;
      display: flex;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 33px;
    }

 .header__logo{
     width: 166px;
     height: 51px;
    }

  .header__menu_models, .header__menu_main, .header__link_models, .header__link {
     display: none;
    }

  .header__link_burger {
     width: 35px;
     height: 22px;
     padding: 14.5px 0 14.5px;
    }

   .burger_icon {
    width: 35px;
    height: 22px; 
    padding: 0; 
   }

  .top-section__title {
     color: #000;
     width: 370px;
     height: 110px;
     text-align: center;
     margin-top: 0;
     margin-right: auto;
     margin-bottom: -10px;
     margin-left: auto;
     white-space: pre;
     font-family: "Montserrat";
     font-style: normal;
     font-weight: 600;
     font-size: 90px;
     padding-right: 30px;
    }

  .top-section__subtitle {
     color: #000;  
     width: 241px;
     height: 19px;
     white-space: pre;
     font-family: "Montserrat";
     font-style: normal;
     font-weight: 500;
     font-size: 15px;
     line-height: 18px;
     text-align: center;
     margin-top: 0;
     margin-right: auto;
     margin-bottom: 87px;
     margin-left: auto;
   } 

  .top-section__img_teslalogo {
     position: absolute;
     display: flex;
     align-items: center;
     width: 100%;
     height: 271px;
     top: 230px;
     left: auto;
     right: auto;
     padding-left: 0;
   }

  .top-section__img_car {
     width: 90%;
     margin-top: 0;  
     display: flex;
     margin-right: auto;
     align-items: center;
     margin-bottom: 35px;
     margin-left: auto;
     padding-left: 5px;
  }

  .top-section__characteristic {
     width: 487px;
     height: 193px;
     margin-top: 0;
     margin-right: auto;
     margin-bottom: 63px;
     margin-left: auto;
     display: block;
   }

   .top-section__img_27, .top-section__img_27-mob, .top-section__img_632-mob {
       display: none; 
   }

   .top-section__img_27-mini {
     width: 487px;
     height: 83px;
     padding: 0 0 50px 6px;
   }

   .top-section__buttons {
       display: flex;
       width: 418px;
       height: 55px;
       padding-left: 40px;
   }

  .top-section__link_testdrive {
      width: 197px;
      height: 55px;
      padding: 0;
      margin: 0;
  }

  .top-section__img_testdrive-red {
      display: inline;
  }

  .top-section__img_testdrive { 
      display: none;
   }
  
  .top-section__orderbtn {
     background: #E51937;
     width: 221px;
     height: 55px;
     margin: 0;
   }

   .top-section__ordertextbtn {
     font-family: "Montserrat";
     font-style: normal;
     font-weight: bold;
     font-size: 16px;
     line-height: 20px;
     color: #FFF;
     align-items: center;
     text-align: center;
     text-transform: uppercase;
     
   }

   .top-section__img_strelka {
    width: 28px;
    height: 14px;
    padding-left: 15px;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 71px;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
   }

 /*future-section*/

    .future-section {
        max-width: 1024px;
        display: grid;
        grid-template-rows: 500px 487px;
    }

    .future-section__title{
        color: #E51937;
        width: 93%;
        height: 86px;
        position: relative;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 70px;
        line-height: 85px;
        white-space: pre;
        z-index: 3;
        text-align: end;
    }

    .future-section__panel-img {
    width: 100%;
    position: absolute;
    z-index: 1;
    }

    .redblock {
    width: 100%;
    background-color: #E51937;
    position: relative;
    display: grid;
    z-index: 2;
    grid-template-columns: 350px 1fr;
    }

    .redblock__title {
        color: #FFF;
        width: 316px;
        white-space: pre;
        font-family: "Montserrat";        
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        margin: 58px 0 16px 34px;
    }

    .redblock__text {
        color: #FFF;
        width: 316px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        padding-left: 34px;
    }

    .redblock__img_display {
        width: 187px;
        height: 65px;
        margin: 56px 0 21px 2px;
        padding-left: 104px;
    }

    .redblock__img_wireless {
        width: 269px;
        height: 71px;
        margin-bottom: 21px;
        padding-left: 100px;
    }

    .redblock__img_capacity {
        width: 202px;
        height: 71px;
        padding-left: 104px;
    }

    .redblock__buttons {
        max-width: 1024px;
        height: 55px;
        display: grid;
        align-items: center;
        grid-template-columns: 100px 202px 221px 1fr;
        grid-gap: 36px;
    }

    .redblock__infobtn {
        width: 202px;
        height: 55px;
        background-color: #E51937;
        border: none;
    }

    .redblock__infobtn-icon {
        color: #FFF;
        width: 22px;
        height: 22px;
        border: solid 2px #FFF;
        border-radius: 50%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        padding-left: 7px;
        padding-right: 6px;
        margin-right: 7px;
    }

    .redblock__infobtn-text {
        color: #FFF;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .redblock__order {
        width: 221px;
        height: 55px;
        border: solid 2px #FFF;
        background-color: #E51937;
    }

    .redblock__order-text {
        color: #FFF;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
    } 
}

@media (max-width: 450px) {
  
    .body {
        font-family: "Montserrat";
        font-weight: normal;
        background: #FFFFFF;
        max-width: 450px;
        margin: 0 auto;
    }

    .top-section {
        max-width: 430px;
        margin: 0 auto;
    }

    .header__menubar {
        max-width: 400px;
        height: 42px;
        margin-top: 15px;
        margin-left: auto; 
        margin-right: auto;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        padding-left: 2px;
        padding-right: 21px;
    }

    .header__logo {
        width: 138px;
        height: 42px;
    }

    .header__menu_models, .header__menu_main, .header__link_models, .header__link {
        display: none;
    }

    .header__link_burger {
        width: 24px;
        height: 15px;
        padding: 14px 0 13px;
    }

    .burger_icon {
        width: 24px;
        height: 15px; 
        padding: 0;
    }

    .top-section__title {
        color: #000;
        width: 206px;
        height: 61px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        text-align: center;
        margin: 0 auto;
        padding-right: 3px;
    }

    .top-section__subtitle {
        color: #000;
        width: 161px;
        height: 13px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 49px;
    }

    .top-section__img_teslalogo {
        position: absolute;
        width: 100%;
        height: 139px;
        top: 156px;
        padding-left: 0;
    } 

    .top-section__img_car {
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 11px; 
        padding-left: 0;
        display: flex;
        align-items: center;
    }

    .top-section__characteristic {
        width: 303px;
        height: 136px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:34px;
        display: block;
    }
    
    .top-section__img_27, .top-section__img_27-mini {
        display: none;
    }

    .top-section_27-mob{
        display: flex;
        justify-content: space-between;
        padding-bottom: 42px;
    }

    .top-section__img_27-mob{
        display: inline;
        max-width: 127px;
        max-height: 53px;
        padding-left: 14px
    }    

    .top-section__img_632-mob{
        display: inline;
        max-width: 115px;
        max-height: 53px;
        padding-right: 6px;
    }

    .top-section__buttons{
        width: 303px;
        height: 40px;
        display: flex;
        padding-left: 10px;
        margin: 0;
     }

    .top-section__img_testdrive {
        display: none;
    }
    
    .top-section__img_testdrive-red {
        display: inline;
        width: 143px;
        height: 40px;
    }

    .top-section__link_testdrive {
        width: 143px;
        height: 40px;
        padding: 0;
        margin: 0;
    }

    .top-section__orderbtn {
        width: 147px;
        height: 40px;
        background: #E51937;
    }
    
    .top-section__ordertextbtn {
       color: #FFF; 
       font-family: "Montserrat";
       font-style: normal;
       font-weight: bold;
       font-size: 13px;
       text-align: center;
       text-transform: uppercase;
    }

    .top-section__img_strelka {
        width: 28px;
        height: 14px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:175px;
  }











}

@media (max-width: 760px) {
    /*future-section*/



}