
.future-secton, .safety-section {
    display: none;
}

@media (min-device-width: 1030px) {

    .body {
        font-family: "Montserrat";
        font-weight: normal;
        background: #FFFFFF;
        margin: 0 auto;
        max-width: 1440px;
    }
    
    .top-section {
     max-width: 1440px;
     margin: 0;
    }

    .header__menubar {
      max-width: 1337px;
      max-height: 51px;
      display: grid;
      align-items: center;
      grid-template-columns: 166px 258px 489px 221px 149px 30px 24px;
      margin-top: 0;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 58px;
    }

    .header__logo {
    max-width: 166px;
    max-height: 51px;
    }

    .header__menu_models {
    max-width: 489px;
    max-height: 19px;  
    padding: 16px 0 16px;
    display: grid;
    grid-template-columns: 62px 63px 63px 25px 61px 44px 70px 46px 55px;
    }

    .header__link_models {
    color: #E51937;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    height: 25px;
    border-bottom: 2px solid #E51937;
    border-bottom-left-radius: 5px 2px;
    border-bottom-right-radius: 5px 2px;
    white-space: pre;
    }

    .header__link{
    color: #000000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    white-space: pre;

    }

    .header__menu_main {
    max-width: 149px;
    max-height: 19px;
    display: grid;
    grid-template-columns: 69px 50px;
    grid-row: 19px;
    column-gap: 30px;
    }

    .header__link_burger {
    max-width: 24px;
    max-height: 15px;
    /*padding: 18px 0 18px;*/
    }

    .top-section__title {
    color: #000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: -9px;
    max-width: 370px;
    max-height: 110px;
    white-space: pre;
    text-align: center;  
    display: flex;
    justify-content: space-around;
    }

    .top-section__subtitle {
    color: #000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    bottom: 26px;
    margin-top: 0;
    white-space: pre;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
    text-align: center;

    }

    .top-section__img_teslalogo {
    position: absolute;
    max-width: 1440px;
    left: auto;
    top: 108px;
    right: auto;
    padding-left: 5px;
    }

    .top-section__img_car {
    max-width: 968px;
    max-height: 450px; 
    padding-right: 60px;
    margin-bottom: 26px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    }

    .top-section__characteristic {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 37px;
    padding-left: 14px;
    }
 
    .top-section__img_27 {
    width: 372px;
    height: 65px;
    }

    .top-section__img_27-mini, .top-section__img_27-mob, .top-section__img_632-mob {
        display: none;
    }
    .top-section__buttons {
    width: 320px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .top-section__link_testdrive {
    max-width: 118px;
    max-height: 22px;
    }

    .top-section__img_testdrive-red{
    display: none;
    }

    .top-section__orderbtn {
    width: 160px;
    height: 40px;
    background-color: #FFF;
    border: 2px solid #E51937;
    margin: 11px 0 7px 0;
    }

    .top-section__ordertextbtn {
    color: #E51937;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    }

    .top-section__img_strelka {
    max-width: 28px;
    max-height: 14px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    }
}

@media (max-device-width: 1024px) {

    .body {
        font-family: "Montserrat";
        font-weight: normal;
        background: #FFFFFF;
        margin: 0 auto;
    }
     

    .top-section {
        max-width: 800px;
        margin: 0 auto;
    }

   .header__menubar {
      width: 720px;
      height: 51px;
      margin-top: auto;
      margin-right: auto;
      margin-bottom: 80px;
      margin-left: auto;
      display: flex;
      justify-content: space-between;
    }

 .header__logo{
     width: 166px;
     height: 51px;
    }

  .header__menu_models, .header__menu_main, .header__link_models, .header__link {
     display: none;
    }

  .header__link_burger {
     width: 35px;
     height: 22px;
     padding: 14.5px 0 14.5px;
    }

   .burger_icon {
    width: 35px;
    height: 22px; 
    padding: 0; 
   }

  .top-section__title {
     color: #000;
     width: 370px;
     height: 110px;
     text-align: center;
     margin-top: 0;
     margin-right: auto;
     margin-bottom: -10px;
     margin-left: auto;
     white-space: pre;
     font-family: "Montserrat";
     font-style: normal;
     font-weight: 600;
     font-size: 90px;
     padding-right: 30px;
    }

  .top-section__subtitle {
     color: #000;  
     width: 241px;
     height: 19px;
     white-space: pre;
     font-family: "Montserrat";
     font-style: normal;
     font-weight: 500;
     font-size: 15px;
     line-height: 18px;
     text-align: center;
     margin-top: 0;
     margin-right: auto;
     margin-bottom: 87px;
     margin-left: auto;
   } 

  .top-section__img_teslalogo {
     position: absolute;
     width: 822px;
     height: 271px;
     top: 230px;
     left: auto;
     right: auto;
     padding-left: 30px;
   }

  .top-section__img_car {
     width: 705px;
     height: 328px;
     margin-top: 0;
     margin-right: auto;
     margin-bottom: 35px;
     margin-left: auto;
     padding-left: 50px;
  }

  .top-section__characteristic {
     width: 487px;
     height: 193px;
     margin-top: 0;
     margin-right: auto;
     margin-bottom: 63px;
     margin-left: auto;
     display: block;
   }

   .top-section__img_27, .top-section__img_27-mob, .top-section__img_632-mob {
       display: none; 
   }

   .top-section__img_27-mini {
     width: 487px;
     height: 83px;
     padding: 0 0 50px 6px;
   }

   .top-section__buttons {
       display: flex;
       width: 418px;
       height: 55px;
       padding-left: 40px;
   }

  .top-section__link_testdrive {
      width: 197px;
      height: 55px;
      padding: 0;
      margin: 0;
  }

  .top-section__img_testdrive-red {
      display: inline;
  }

  .top-section__img_testdrive { 
      display: none;
   }
  
  .top-section__orderbtn {
     background: #E51937;
     width: 221px;
     height: 55px;
     margin: 0;
   }

   .top-section__ordertextbtn {
     font-family: "Montserrat";
     font-style: normal;
     font-weight: bold;
     font-size: 16px;
     line-height: 20px;
     color: #FFF;
     align-items: center;
     text-align: center;
     text-transform: uppercase;
     
   }

   .top-section__img_strelka {
    width: 28px;
    height: 14px;
    padding-left: 15px;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 71px;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
   }

}

@media (max-device-width: 450px) {
  
    .body {
        font-family: "Montserrat";
        font-weight: normal;
        background: #FFFFFF;
        max-width: 430px;
        margin: 0 auto;
    }

    .top-section {
        max-width: 430px;
        margin: 0 auto;
    }

    .header__menubar {
        width: 352px;
        height: 42px;
        margin-top: 5px;
        margin-left: auto; 
        margin-right: auto;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }

    .header__logo {
        width: 138px;
        height: 42px;
    }

    .header__menu_models, .header__menu_main, .header__link_models, .header__link {
        display: none;
    }

    .header__link_burger {
        width: 24px;
        height: 15px;
        padding: 14px 0 13px;
    }

    .burger_icon {
        width: 24px;
        height: 15px; 
        padding: 0;
    }

    .top-section__title {
        color: #000;
        width: 206px;
        height: 61px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        text-align: center;
        margin: 0 auto;
        padding-right: 3px;
    }

    .top-section__subtitle {
        color: #000;
        width: 161px;
        height: 13px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 49px;
    }

    .top-section__img_teslalogo {
        position: absolute;
        width: 448px;
        height: 139px;
        top: 156px;
    } 

    .top-section__img_car {
        width: 357px;
        height: 166px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 11px; 
        padding-left: 49px;
    }

    .top-section__characteristic {
        width: 303px;
        height: 136px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:34px;
        display: block;
    }
    
    .top-section__img_27, .top-section__img_27-mini {
        display: none;
    }

    .top-section_27-mob{
        display: flex;
        justify-content: space-between;
        padding-bottom: 42px;
    }

    .top-section__img_27-mob{
        display: inline;
        max-width: 127px;
        max-height: 53px;
        padding-left: 14px
    }    

    .top-section__img_632-mob{
        display: inline;
        max-width: 115px;
        max-height: 53px;
        padding-right: 6px;
    }

    .top-section__buttons{
        width: 303px;
        height: 40px;
        display: flex;
        padding-left: 10px;
        margin: 0;
     }

    .top-section__img_testdrive {
        display: none;
    }
    
    .top-section__img_testdrive-red {
        display: inline;
        width: 143px;
        height: 40px;
    }

    .top-section__link_testdrive {
        width: 143px;
        height: 40px;
        padding: 0;
        margin: 0;
    }

    .top-section__orderbtn {
        width: 160px;
        height: 40px;
        background: #E51937;
    }
    
    .top-section__ordertextbtn {
       color: #FFF; 
       font-family: "Montserrat";
       font-style: normal;
       font-weight: bold;
       font-size: 13px;
       text-align: center;
       text-transform: uppercase;
    }

    .top-section__img_strelka {
        width: 28px;
        height: 14px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:175px;
  }











}
